public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*webpack*
public-hoist-pattern[]=*loader*
public-hoist-pattern=@google/clasp
public-hoist-pattern=@types/*
public-hoist-pattern=npm-run-all
