<html>
  <head>
    <link
      rel="stylesheet"
      href="https://ssl.gstatic.com/docs/script/css/add-ons1.css"
    />
  </head>
  <body>
    <div id="content">
      <div>
        You are about to remove the developer metadata that connects this sheet
        to its Blackbaud data source. You will no longer be able to update the
        data on this sheet directly from Blackbaud. You will need to select the
        existing data and replace it with a new import from Blackbaud if you
        need to get new data.
      </div>
      <div class="bottom-right">
        <button class="button" id="cancel">Cancel</button>
        <button class="button red" id="disconnect">Disconnect</button>
      </div>
    </div>
    <!?= include('js/disconnect, data); ?>
  </body>
</html>
